<!-- header desktop -->
<header class="header header-desktop">
	<nav class="nav container">
		<a href="#" class="custom-logo-link">
			<img src="img/logo.svg" alt="custom-logo">
		</a>
		<div class="nav-menu">
			<ul class="nav-list">
				<li><a href="#">Новости</a></li>
				<li><a href="#">Статьи</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Обзоры</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Помощь</a></li>
			</ul>
		</div>
		<div class="header-bar">
			<div class="search-label search-second" id="searchBarLabel">
				<input class="search-input" id="searchHiddenInput" type="type" placeholder="Поиск" />
				<button class="btn-reset search-btn" id="searchToggleBtn"><i class="icomoon icon-magnifer"></i></button>
			</div>
			<!-- Theme change button -->
			<a href="#" class="btn-icon">
				<i class="icomoon icon-moon change-theme" id="theme-button1"></i>
			</a>
			<a href="#" class="btn-icon">
				<i class="icomoon icon-user"></i>
			</a>
			<a href="#" class="btn-icon">
				<i class="icomoon icon-heart"></i>
			</a>
			<a href="#" class="btn-icon">
				<i class="icomoon icon-plus"></i>
			</a>
		</div>
	</nav>
</header>

<!-- header mobile -->
<header class="header header-mob">
	<nav class="nav container">
		<a href="#" class="custom-logo-link">
			<img src="img/logo.svg" alt="custom-logo">
		</a>
		<div class="nav-menu" id="nav-menu">
			<ul class="nav-list">
				<li><a href="#">Новости</a></li>
				<li><a href="#">Статьи</a></li>
				<li><a href="#">Блоги</a></li>
				<li><a href="#">Обзоры</a></li>
				<li><a href="#">Отзывы</a></li>
				<li><a href="#">Помощь</a></li>
			</ul>
			<div class="header-bar">
				<!-- Theme change button -->
				<a href="#" class="btn-icon">
					<i class="icomoon icon-moon change-theme" id="theme-button2"></i>
				</a>
				<a href="#" class="btn-icon">
					<i class="icomoon icon-user"></i>
				</a>
				<a href="#" class="btn-icon">
					<i class="icomoon icon-heart"></i>
				</a>
				<a href="#" class="btn-icon">
					<i class="icomoon icon-plus"></i>
				</a>
			</div>
			<div class="search-label">
				<input class="search-input" type="type" placeholder="Поиск" />
				<button class="btn-reset search-btn"><i class="icomoon icon-magnifer"></i></button>
			</div>
		</div>
		<div class="header-bar">
			<a href="#" class="btn-icon">
				<i class="icomoon icon-user"></i>
			</a>
			<!-- Toggle button -->
			<div class="btn-icon nav-toggle" id="nav-toggle">
				<i class="icomoon icon-menu"></i>
			</div>
		</div>
	</nav>
</header>