/*-----footer-----*/
.footer {
  padding-top: 55px;
  padding-bottom: 60px;
  background: #35313F;
  position: relative;
  .custom-logo-link {
    margin-bottom: 24px;
    display: block;
  }
  &-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    .col {
      &:nth-child(1),
      &:nth-child(2) {
        width: calc(50% - 20px);
      }
    }
    .search-label {
      width: 100%;
      margin-bottom: 28px;
    }
  }
  &-menu {
    @include list-reset;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    li {
      &:not(:last-child) {
        margin-right: 30px;
        margin-bottom: 18px;
      }
    }
    a {
      font-family: var(--font-roboto);
      font-size: 18px;
      line-height: 1.2;
      font-weight: 500;
      color: var(--white-color);
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
  }
  &-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px 30px;
    &>a {
      width: auto;
    }
  }
  &-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a:not(:last-child) {
      margin-right: 15px;
    }
  }
  &-socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    a {
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
  &-copy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 60px;
    font-family: var(--font-roboto);
    color: var(--white-color);
    .number {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      width: 62px;
      height: 62px;
      margin-right: 22px;
      border-radius: 50%;
      font-size: 18px;
      border: 2px solid var(--white-color);
    }
    p {
      margin: 0;
      font-size: 18px;
      font-weight: 700;
      span {
        display: block;
        margin-top: 6px;
        font-weight: 400;
        color: #9E9E9E;
      }
    }
  }
}

.social-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 54px;
	height: 54px;
	border-radius: 14px;
  background-color: var(--white-color);
	transition: .3s ease;
	cursor: pointer;
  i {
    font-size: 28px;
    color: var(--violet-color);
		transition: .3s ease;
  }
  &:hover {
    background-color: var(--violet-color);
		i {
			color: var(--white-color);
		}
  }
}

@media screen and (max-width: 1024px) {
  /*-----footer-----*/
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .custom-logo-link {
      margin-bottom: 24px;
    }
    &-container {
      .col {
        &:nth-child(1),
        &:nth-child(2) {
          width: calc(50% - 15px);
        }
      }
      // .search-label {
      //   width: 100%;
      //   margin-bottom: 28px;
      // }
    }
    &-menu {
      flex-direction: column;
      li {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 12px;
        }
      }
      a {
        font-size: 15px;
      }
    }
    &-links {
      a:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-socials {
      a {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
    &-copy {
      margin-top: 40px;
      align-items: flex-start;
      .number {
        width: 50px;
        height: 50px;
        margin-right: 16px;
        font-size: 14px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .social-btn {
    width: 44px;
    height: 44px;
    i {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 765px) {
  /*-----footer-----*/
  .footer {
    padding-bottom: 24px;
    .custom-logo-link {
      margin-bottom: 20px;
    }
    &-container {
      flex-direction: column;
      .col {
        &:nth-child(1) {
          margin-bottom: 24px;
        }
        &:nth-child(1),
        &:nth-child(2) {
          width: 100%;
        }
      }
      .search-label {
        margin-bottom: 20px;
      }
    }
    &-menu {
      li {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
      a {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 765px) {
  /*-----footer-----*/
  .footer {
    padding-top: 30px;
    &-copy {
      margin-top: 32px;
      .number {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        font-size: 10px;
      }
      p {
        font-size: 13px;
      }
    }
  }

  .social-btn {
    width: 40px;
    height: 40px;
  }
}